# regular crap
activestorage/__pycache__/
activestorage/*.pyc*
tests/*.pyc*
tests/__pycache__/
.eggs
ActiveStorage.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# doc shtuff
doc/__pycache__
_sidebar.rst.inc
