# regular crap
activestorage/__pycache__/
activestorage/*.pyc*
tests/*.pyc*
tests/__pycache__/
.eggs
ActiveStorage.egg-info
activestorage.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# doc shtuff
doc/__pycache__
doc/_sidebar.rst.inc
_sidebar.rst.inc

# test output
tests/test_data/cesm2_native_TREFHT.json
tests/test_data/daily_data_tas.json
tests/test_data/daily_data_ta.json
tests/test_data/daily_data_masked_ta.json
tests/test_data/CMIP6_IPSL-CM6A-LR_tas_tas.json
tests/test_data/obs4MIPS_CERES-EBAF_L3B_Ed2-8_rlut_rlut.json

# test coverage
.coverage
report-1.xml
test-reports/
