---
name: activestorage
channels:
  - conda-forge
  - nodefaults

dependencies:
  - python >=3.10
  - dask !=2024.8.0  # github.com/dask/dask/issues/11296
  - fsspec
  - h5netcdf
  - netcdf4
  - numcodecs >=0.12  # github.com/valeriupredoi/PyActiveStorage/issues/162
  - numpy !=1.24.3  # severe masking bug
  - pip !=21.3
  - requests
  - s3fs >=2024.2.0  # loose s3fs deps leading to old aiobotocore for <2024.2.0
  - ujson
  # Python packages for testing
  - moto  # mock S3 tests
  - pytest
  - pytest-cov >=2.10.1
  - pytest-html !=2.1.0
  - pytest-metadata >=1.5.1
  - pytest-xdist
  # docs
  - autodocsumm
  - sphinx
  - sphinx_rtd_theme
