name: Test on Push on Linux64

on:
  push:

# Required shell entrypoint to have properly configured bash shell
defaults:
  run:
    shell: bash -l {0}

jobs:
  linux:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12"]  # latest only
      fail-fast: false
    name: Linux Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: activestorage
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}
          miniforge-version: "latest"
          use-mamba: true
      - run: conda --version
      - run: python -V
      - name: Install development version of bnlawrence/Pyfive:issue60
        run: |
          cd ..
          git clone https://github.com/bnlawrence/pyfive.git
          cd pyfive
          git checkout issue60
          pip install -e .
      - run: pip install -e .
      - run: conda list
      - run: pytest -n 2 --junitxml=report-1.xml
      - uses: codecov/codecov-action@v3
